
html, body{
    box-sizing : border-box;
    margin:0;
    height:100%;
}
*,  *::before, *::after{
    box-sizing: inherit;
}
a:hover {
    text-decoration: underline;
}
main{
    padding:25%;
}

#main-img{
    display:block;
}
.icon{
    height:auto;
    width:1rem;
}
#searchbox{
    display: inline-block;
    padding: 5px;
    border: 0.5px solid rgb(211, 211, 211);
    border-radius: 50px;
}
#searchbar{
    border:transparent;
    width:25rem;
}
.center{
    text-align: center;
    margin: 0 auto;
}
footer{
    position: absolute;
    bottom:0%;
}
footer div{
    display : inline;
}
#searchbox:hover{
    border:transparent;
    box-shadow:0 1px 6px rgba(32,33,36,.28);
}